@charset "utf-8";

$primary-color: #2980b9;
$secondary-color: #6dd5fa;

$site-background-hue: 195;
$site-background-saturation: 70%;
$site-background-luminance: 70%;

$site-background-color: hsla($site-background-hue, $site-background-saturation, $site-background-luminance, 0.85);

$body-font-size: 0.9em;

$dimensions: 512;

$table-background-color: hsl(142, 52%, 96%);

@import '~bulma/bulma.sass';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.is-left-text-aligned {
	text-align: left;
}

.link-color {
	color: hsla(269, 84%, 26%, 1);
	font-weight: bold;
}

.link-color:hover {
	font-style: italic;
}

.floating-element {
	float: left;
	width: 50%;
	margin-right: 20px;
}

.photolink-text:hover {
	font-style: italic;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sticky-header {
	position: sticky;
	top: 0;
	z-index: 50;
}

.sticky-footer-layout {
	min-height: 92vh;
	display: flex;
	flex-direction: column;
}

.footer {
	clear: both;
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	a:hover {
		color: $secondary-color;
	}
}
